{
 :current-date {}
 :indeed {:jobs-board-provider.indeed/url "https://www.indeed.com/jobs"}
 :kafka {:event-store.kafka/brokers ["localhost:9092"]}
 :use-cases {:event-store #ig/ref :kafka
             :current-date #ig/ref :current-date}
 :web {:web.server/port 8081
       :web.server/use-cases #ig/ref :use-cases
       :web.server/env :test}
 }
